*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width:100%; /* i've used % here because vw would cause horizontal scrolling*/
    height:100vh;
    background-image: url(elements/IMG_9080.HEIC);
    background-size: cover;
    background-position: center;
}
#myname{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color: #080808;
    padding: 10px
}
/*#description{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color: #080808;
    padding: 10px
}*/
.container1{
    padding: 150px 5%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
/*.newcontainer{
    padding: 10px;
    display: flex;
    align-items: left;
    justify-content:space-between;
}*/
.container1 ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 40px;
}
.container1 ul li a{
   text-decoration: none;
   color: #080808;
   font-family:'Times New Roman', Times, serif;
   font-size: 20px;
   position: relative; /* a little counter intuitive but, relative is the object that stays fixed. absolute is the object that depends on the relative object */
}
.container1 ul li a::after{ /* "after" meaning this will be inserted after the anchor tag */
    content:''; /* we're just defining what an underline should be like, without actually calling for an underline */
    width:0;
    height:3px;
    background:#080808;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}
.container1 ul li a:hover::after{
    width: 100%;
}

